
.sign .krpsign {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign .krpLogo {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
.sign .krpLogo .krpimg {
  width: 100px;
  margin: 0 auto;
}
.sign .krpLogo .text {
  font-weight: bold;
  font-size: 1.6rem;
}
.sign .input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.sign .input input {
  border-radius: 5px;
}
.sign .btnSend Button {
  background-color: #7cb5ff;
  border-radius: 0;
}
.sign .input svg{
  font-size: 24px;
  width: 22px;
  height: 22px;
}
.sign .remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem 0;
}
.sign .remember-forgot .remember {
  display: flex;
  align-items: center;
}
.sign .remember-forgot .forgot .text {
  color: #1300aa;
}
.sign .remember-forgot .forgot .text:active {
  color: #adc0ff;
}
.sign .button{
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;

}
.sign .btnSend{
  border: 1px solid #70a1e0;
}
.sign .buttonin Button {
  width: 100%;
  border: 1px solid #000;
  font-size: 1.1rem;
  border-radius: 5px;
  height: 40px;
}
.sign .buttonup Button {
  width: calc(90%/2);
  border: 1px solid #000;
  font-size: 1.1rem;
  border-radius: 5px;
  height: 40px;
}
.sign .button Button:first-child {
  background-color: #e04f4f;
}
.sign .button Button:last-child {
  background-color: #77b4f5;
}

.sign .hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign .hr hr {
  border: none;
  border-top: 1px solid #898989; /* เส้นคู่สีเข้ม */
  width: 28%;
}
.sign .signInWith {
  display: flex;
  justify-content: space-between;
}
.sign .button-google {
  width: calc(95% / 2);
}
.sign .button-google Button {
  width: 100%;
  color: #000;
  text-transform: none;
  background-color: #ffffff;
  border: 1px solid #000;
  font-size: 1.1rem;
  border-radius: 8px;
}
.sign .button-google Button .krpbtn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.sign .button-google Button .icon svg {
  width: 23px;
  height: 23px;
}
.sign .last {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.sign .last .text {
  color: #1300aa;
}
.sign .last .text:active {
  color: #adc0ff;
}

@media screen and (max-height: 600px) {
  .sign .krpLogo {
    margin-bottom: 2rem;
  }
  .sign .hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 769px) {
  .sign .btnSend Button{
    padding: 0.18rem 1.2rem;
    background-color: #7cb5ff;
    border-radius: 0;
  }
  .sign .btnSend{
    border: 1px solid #70a1e0;
  }
}